<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Styles.Render("~/Content/less")
</head>
<body>
    <header>
        <a href="~/" class="logo">Web Shop</a>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>