<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Web Shop</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/viewmodels")
    @Styles.Render("~/Content/less")
</head>
<body>
    <header>
        <a href="~/" class="header logo">Web Shop</a>
        <a href="~/cart" class="header cart right">
            <span class="label"></span>
            <span class="count"></span>
        </a>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>